pipeline/pipeline1/pipeline1/pipeline1.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"DatabricksService":{"type":"string"},"blob":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Data Preprocessing","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/saran.gunasekara@tigeranalytics.com/Data Preprocessing"},"linkedServiceName":{"referenceName":"[parameters('DatabricksService')]","type":"LinkedServiceReference"}},{"name":"Model Training","type":"DatabricksNotebook","dependsOn":[{"activity":"Data Preprocessing","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/saran.gunasekara@tigeranalytics.com/Model Training and Saving"},"linkedServiceName":{"referenceName":"[parameters('DatabricksService')]","type":"LinkedServiceReference"}},{"name":"Save Helper File","type":"ExecuteDataFlow","dependsOn":[{"activity":"Data Preprocessing","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"smokingdiabetesrelation","type":"DataFlowReference","parameters":{},"datasetParameters":{"datasource":{},"savetoblob":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2023-05-16T10:21:36Z"},"dependsOn":["[concat(variables('factoryId'), '/dataflows/smokingdiabetesrelation')]"]},{"name":"[concat(parameters('factoryName'), '/smokingdiabetesrelation')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Diabetes_Dataset","type":"DatasetReference"},"name":"datasource"}],"sinks":[{"dataset":{"referenceName":"Relationship_Smoking_Diab","type":"DatasetReference"},"name":"savetoblob","rejectedDataLinkedService":{"referenceName":"[parameters('blob')]","type":"LinkedServiceReference"}}],"transformations":[{"name":"smokingdiabetes"}],"scriptLines":["source(output(","          gender as string,","          age as integer,","          hypertension as integer,","          heart_disease as integer,","          smoking_history as string,","          bmi as integer,","          HbA1c_level as integer,","          blood_glucose_level as integer,","          diabetes as integer","     ),","     allowSchemaDrift: true,","     validateSchema: true,","     ignoreNoFilesFound: false,","     partitionBy('hash', 1)) ~> datasource","datasource pivot(groupBy(smoking_history),","     pivotBy(diabetes),","     relation = count(),","     columnNaming: '$N$V',","     lateral: true,","     partitionBy('hash', 1)) ~> smokingdiabetes","smokingdiabetes sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          Column_1 as string,","          Column_2 as string,","          Column_3 as string,","          Column_4 as string,","          Column_5 as string,","          Column_6 as string,","          Column_7 as string,","          Column_8 as string,","          Column_9 as string","     ),","     partitionFileNames:['relation_smoking_diab.csv'],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     saveOrder: 1,","     outputAssertFailedRows: true,","     partitionBy('hash', 1)) ~> savetoblob"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Diabetes_Dataset')]","[concat(variables('factoryId'), '/datasets/Relationship_Smoking_Diab')]"]},{"name":"[concat(parameters('factoryName'), '/Diabetes_Dataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('blob')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"diabetes_prediction_dataset.csv","folderPath":"data/raw","container":"databricks-con"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"gender","type":"String"},{"name":"age","type":"String"},{"name":"hypertension","type":"String"},{"name":"heart_disease","type":"String"},{"name":"smoking_history","type":"String"},{"name":"bmi","type":"String"},{"name":"HbA1c_level","type":"String"},{"name":"blood_glucose_level","type":"String"},{"name":"diabetes","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Relationship_Smoking_Diab')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('blob')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"databricks-con"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]}]}